/*
 * File name: Projects.css
 * Student’s Name: Guilherme Passos Da Silva
 * StudentID: 301379110
 * Date: 2024-09-27
 */
 
 .pageDisplay {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px 30px; 
    font-family: 'Arial', sans-serif; 
    color: #333;
}

#title {
    font-size: 2.8rem; 
    text-align: center; 
    margin-bottom: 20px; 
    color: #007bff; 
}

.projects-section {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    margin-top: 30px; 
}

.project-card {
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    transition: transform 0.3s; 
    height: 100%; 
}

.project-card:hover {
    transform: scale(1.05); 
}

.project-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

h2 {
    font-size: 1.8rem; 
    margin-top: 15px; 
    margin-bottom: 10px; 
    color: #000000; 
}

.pageDisplay p:last-of-type {
    text-align: center; 
    margin-top: 30px; 
}
